html,
body {
    background: #1F1B24;
}

.content {
    background: #1F1B24;
    margin: 0;
    padding: 20px;
}

.image {
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 20px 0;
}

.small-image {
    display: block;
    max-width: 1500px;
    height: auto;
}

.cropped-circle {
    border-radius: 50%;
    border: 2px solid #ffde21;
}

h1,p {
    color: #ffde21;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
